version: '3.9'
services:
  players_job:
    build: ./players_job
    container_name: football_players_job
    env_file: .env
    command: ["python", "Recup_joueurs.py"]
    volumes:
      - ./credentials:/credentials

  teams_job:
    build: ./teams_job
    container_name: football_teams_job
    env_file: .env
    command: ["python", "teams.py"]
    volumes:
      - ./credentials:/credentials
  stream_events_service:
    build: ./streaming_job
    container_name: football_stream_events_service
    env_file: .env
    command: ["uvicorn", "stream_to_pubsub:app", "--host", "0.0.0.0", "--port", "8080"]
    ports:
      - "8080:8080"
    volumes:
      - ./credentials:/credentials
    restart: unless-stopped
